NEXT_PUBLIC_SUPABASE_URL=<supabase_url>
NEXT_PUBLIC_SUPABASE_ANON_KEY=<supabase_anon_key>
NEXT_PUBLIC_MAINTENANCE_MODE=<Boolean>
AXIOM_TOKEN=<axiom_token>
AXIOM_DATASET=<axiom_dataset>
NEXT_PUBLIC_UPLOADCARE_PUBLIC_KEY=<uploadcare_public_key>
UPLOADCARE_SECRET_KEY=<uploadcare_secret_key>